@model SameApp.Models.Contact

@{
    ViewData["Title"] = "Index";
}

<button onclick="getAll()">GetAll</button>
<button onclick="get()">Get</button>
<button onclick="post()">Post</button>
<button onclick="put()">Put</button>
<button onclick="del()">Delete</button>


@section Scripts{
    <script src="~/js/restM.js"></script>
}

